<div class="bg-white shadow-md rounded p-4 styleStatus">
    <div class="text-center">
        <p class="text-lg font-bold">{{ approvedCount }}</p>
        <p>ממתינה <br> לאישור</p>
    </div>

    <div class="text-center">
        <p class="text-lg font-bold">{{ pendingCount }}</p>
        <p>בתהליך</p>
    </div>

    <div class="text-center">
        <p class="text-lg font-bold">{{ rejectedCount }}</p>
        <p>נדחו</p>
    </div>

    <div class="text-center">
      <p class="text-lg font-bold">{{ totalInvoices }}</p>
      <p>הכל</p>
    </div>
    
  </div>
  